<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <div class="container products-wrapper">
        <div class="row">
            <h2 class="violet-title">Manejo de Trabajos</h2>

            <div class="gigs-container">
                <div class="gig-card row">
                    <div class="col-3"><img src="/recursos/imagenes/gig.png" alt="logo wooplance"></div>
                    <div class="col-4">
                        <h3>Creacion de Pagina Web</h3>
                        <h3 class="small">Necesitaba Crear un blog en el cual me gustaria publicar descubrimientos que
                            yo realizo. La idea principal es que los...</h3>
                    </div>
                    <div class="col-4 ">
                        <h3 class="violet-subtitle">Presupuesto <br>
                        AR$ 2500 - AR$5000</h3> 
                        <h3 class="small">Tiempo de Entrega: 5 dias</h3>
                    </div>
                </div>
            </div>


        </div>



</body>

</html>