<div class="container-fluid pt-5 mx-auto">
    <div class="row">
        <div style="padding: 30px;" class="col-6">
            <h2 class="contactar">Contactanos</h2>
            <p class="descContacto">¿Tienes alguna duda sobre nuestro servicio, o te gustaría aportar con una
                sugerencia?, envianos un mail o contactanos por nuestras redes sociales.</p>
            <div class="grupo_busqueda">
                <input id="input_buscar" type="text" placeholder="Envianos un mensaje! ">
                <button id="btn_buscar"><i class='bx bx-send'></i></button>
            </div>
        </div>
        <div class="col-6 logoFooter">
            <img src="/recursos/imagenes/logo.svg" alt="">
        </div>
    </div>
</div>