<header class="cabezera">
  <nav class="nav">
    <a id="logo" href="/"
      ><img src="/recursos/imagenes/logo.svg" alt="logo wooplance" />
    </a>

    <div class="grupo_buscar">
      <div class="grupo_categorias">
        <button id="btn_categorias" class="item_cat">Categorias</button>
      </div>
      <input id="input_buscar" type="text" placeholder="EJ: 'Web Developer' " />
      <button id="btn_buscar">Buscar</button>
    </div>

    <div class="grupo_entrar">
      <a id="btn_registrarse" href="/gig/add">Publicar</a>
      <a href="/profile/0" style="display: inline-flex; color: black">
        <img
          class="img-fluid"
          style="
            width: 40px;
            height: 40px;
            padding-right: 5px;
            border-radius: 50%;
          "
          src="/recursos/imagenes/persona 3.png"
          alt=""
        />
        <p>Milton Kienigiel</p>
      </a>
    </div>
  </nav>
</header>
